*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-backround: #1d4ed8;
    --text-color: #6d28d9;
}

body{
    background-color: var(--main-backround);
    color: var(--text-color);
}